:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      #baf3d7,
      #c2f5de,
      #cbf7e4,
      #d4f8ea,
      #ddfaef
    );
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
h2{
    color: black;
    font-size: auto;
}
a{
    text-decoration: none;
}
.Link::after
{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: green;
  transition: width .3s;
}
.Link:hover::after
{
    width: 100%;
    transition: width .3s;
}
footer
 {
  position: relative;
  width: 100%;
  height: 35%;
  background:linear-gradient(to right,#2A2B2A,#9CEBB3);
  min-height: 0px;
  
  font-size: 13px;
  line-height: 20px;
  padding: 20px 50px;
  display: flex;
  justify-content: center ;
  align-items: center;
  flex-direction: column;
 
 } 
 .row2
 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
 }
 .col2
 {
  flex-basis: 25%;
  padding: 10px;

  
 }
 h3
 {
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
 }
 .col2 h5
 {
  /*width: fit-content;*/
  margin-bottom: 30px;
  position: relative;
  font-size: 20px;
  margin-top: 20px;
 }
 ul li{
   list-style: none;
   margin-bottom: 12px;
 }
 ul li a
 {
  text-decoration: none;
  color: white;
 }
.social_icon
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}
.social_icon li
{
  list-style: none;

}
.social_icon li a
{
  font-size: 2em;
  color: #f1f1f1;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social_icon li a:hover
{
  transform: translateY(-10px);
}
hr
{ 
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}
.copyright
{
  margin-bottom: 20px;
 text-align: center;
}
.underline
{
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span
{
  width: 15px;
  height: 100%;
  background: white;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
@keyframes moving
{
  0%
  {
    left: -20px;
  }
  100%
  {
    left: 100%;  
  }

}
.container
{
  max-width: 1500px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
  background-color: white;

}
.container .title
{
  font-size: 28px;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
}
.container .title::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 50px;
  background:#009d63;

}
input
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1200px;
}
b
{
  font-size: 18px;
}
.input-wrap {
  position: relative;
  height: 20px;
  margin-bottom: 4rem;
  font-size: 15px;
  font-weight: 500;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: -50px;
  font-size: 0.95rem;
  color: #151111;
  transition: 0.4s;
  margin-left: 0px;
  margin-top: 20px;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #bbb;
  pointer-events: none;
  transition: 0.4s;

}
.input-field.active {
  border-bottom-color: #151111;
}

.input-field.active + label {
  font-size: 0.75rem;
  top: -2px;
}
