*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}


.bg-right
{
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    
}
.nav-link, .brradcrumb-item a{
    padding: 10px 0 10px 30px;
    transition: all .2s;
    color: #0275d8;
}
nav.mb-3
{
    border-color: white;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  .card-left
  {
    border-radius: 5px;
  }
  .nav-link:hover, .breadcrumb-item a
  {
      color: #01284a;
      text-decoration: none;
  }
  p{
    color: white;
  }
  h1
  {
    color: white;
  }
  .error {color:red;}
